@import "post";
@import "pre-code";
@import "header";
@import "form";

html, body {
  //color: #505050;
  font-size: 14px;
  height: 100%;
  //position: relative;
  background: $body-bg;
  //font-family: NotoSansHans-Regular, AvenirNext-Regular, arial, Hiragino Sans GB, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

h1,
h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

#content-wrap {
  min-height: 100%;
  margin-bottom: -$footerHeight;
}

#content-wrap:after {
  content: "";
  display: block;
}

.center-block {
  text-align: center;
}

a {
  outline: none;
  text-decoration: none;
}

.alone-divider {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background: #ebebeb;
}

blockquote {
  font-size: inherit;
  color: #777;
  background-color: #f7f7f7;
  padding: 6px 8px;
  border-left: 4px solid #ddd;
}

/*footer*/

#footer, #content-wrap:after {
  height: $footerHeight;
}

.copyright {
  height: 100%;
  background: #333;
  font-size: 13px;
  text-align: center;
  color: #aaa;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #303030;
}

/*code*/
$codeBg: rgb(247, 249, 247)/*#20201d*/
;
$codeColor: #383a42;

pre, .highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 15px;
  font-size: 0.95em;
  color: $codeColor;
  border: none;
  border-radius: 8px;
  background: $codeBg !important;
  line-height: 1.6em;
  word-wrap: normal;
}

pre[class~=CodeMirror-line ] {
  background-color: inherit !important;
}

.hljs {
  background: $codeBg !important;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

@media (max-width: 768px) {
  .phone-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.bg-placeholder {
  background-image: -webkit-linear-gradient(315deg, #563d7c, $colorPrimaryDark, $colorPrimary);
  background-image: -o-linear-gradient(245deg, $colorAccent, $colorPrimaryDark, $colorPrimary);
  background-image: linear-gradient(135deg, #563d7c, $colorPrimaryDark, $colorPrimary)
}

.breadcrumb {
  background-color: #fff;
}