//font size

$colorPrimary: #52768e;
$colorPrimaryDark:  darken($colorPrimary,10%);
$colorPrimaryDarkTransparent: rgba($colorPrimary, 0.25);
$colorAccent: #FF6E40;
$widgetHeaderBgColor: #F5F8FA;

$widgetPaddingLeftRight: 20px;
$postItemPaddingLeftRight: 25px;
$postItemPaddingUpDown: 20px;

$shadowColor: #666666;
$shadowBlur: 1px;

$footerHeight: 60px;

$metaColor: #959595;

/* bootstrap*/
$brand-primary: $colorPrimary;
//$body-bg: #eee;
$body-bg: #eee;

@import "~font-awesome/scss/font-awesome.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~sweetalert/dev/sweetalert.scss";
